<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fanuc_lrmate200id">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import fanuc_lrmate200id urdf file -->
    <xacro:include filename="$(find fanuc_lrmate200id_support)/urdf/lrmate200id.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="fanuc_lrmate200id.ros2_control.xacro" />


    <xacro:fanuc_lrmate200id_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
